html{
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #3B181E;
    display: flex;

}
.left{
    height: 100vh;
    width: 49%;
    background-size:cover;
    background-repeat:no-repeat;
}
.border{
    width: 92%;
    height: 89%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    top:2.5%;
    left: 2.5%;
    padding-top: 6%;
    padding-left: 8%;
}
.logo{
    height: 35px;
}
.right{
    height: 100vh;
    width: 51%;
    padding-top: 4%;
}
.burgerMenuDeckstop{
    position: relative;
    left:80%;
}
.burgerMenuDeckstop img{
    height: 60px;
}
.containerOfArticle{
    width: 100%;
    margin-top: 7%;
}
.article {
    width: 60%;
    margin-left: 13%;
    
}

.article p {
    margin-top: 10%;
    margin-bottom: 5%;
    color: #FFFFFF;
    font-size: 13wpx;
    letter-spacing: 0.05em;
    line-height: 170%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article input {
    width: 22%;
    height: 38px;
    background: none;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    font-family: Forum;
    border: 1px solid #FFFFFF;
    font-size: 9px;
    transition: all 0.5s;
}

.article input:hover {
    background: #FFFFFF;
    color: #000000;
    transition: all 0.5s;
    cursor: pointer;
}
.article h3 {
    font-family: Forum;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.15em; 
    margin-bottom: 0;
}
.containerOfSlider{
    width: 100%;
    height: 6.5vw;
    /* background-color:red; */
    margin-top: 8%;
}
.slider{
    width: 60%;
    height: 100%;
    margin-left: 13%;
    /* background-color:green; */
    display: flex;
    
}
.slider>div{
    height: 100%;
    width: 21%;
    margin-right: 4%;
}
.slider img{
    height: 100%;
    width: 100%;
}

.arrow{
    height: 38%;
    width: 5%;
    background-size:100% 100%;
    position: relative;
    bottom: 69%;
    left: 68%;
    background-image: url('/floristry/pictures/Arrow.png');
}
.arrow a, .arrow a div{
    height: 100%;
    width: 100%;
}
.arrow:hover{
    background-image:url("/floristry/pictures/ArrowHover.png");
}
.morePhoto {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Forum;
    font-size: 11px;
    display: flex;
    width: 95%;
    justify-content: flex-end;
    margin-top: 2%;
}
.morePhoto img{
    width: 2%;
    margin-left: 2%;
}
header{
    width: 100%;
    display: none;
    height: 100vh;
    background-color:#3B181E;
}
nav {
    display: flex;
    justify-content: space-between;
}
.menu {
    height: 550px;
}

.menuLinks a {
    text-decoration: none;
    font-family: Forum;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.09em;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
}
.socialIcons {
    width: 20px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -4%;
    margin-left: 73px;
}
.socialIcons img {
    width: 20px;
}

.menuLinks a:hover {
    color: #FFFFFF;
    transition: color 0.5s;
}

.menuLinks {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menuLinks p {
    margin-top: 50px;
}


.logo_1 {
    height: 35px;
    margin-left: 80px;
    margin-top: 65px;
}

.logo_1 img {
    height: 35px;
}

.burgerMenuDeckstop {
    margin-top: 60px;
}
