html {
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #3B181E;
    display: flex;

}

.left {
    height: 100vh;
    width: 49%;
    background-size: cover;
    background-repeat: no-repeat;
}

.border {
    width: 92%;
    height: 89%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    position: relative;
    top: 2.5%;
    left: 2.5%;
    padding-top: 6%;
    padding-left: 8%;
}

.logo {
    height: 35px;
}

.right {
    height: 100vh;
    width: 51%;
    padding-top: 4%;
}

.burgerMenuDeckstop {
    position: relative;
    left: 80%;
}

.burgerMenuDeckstop img {
    height: 60px;
}

.containerOfArticle {
    width: 100%;
    height: 55%;
    margin-top: -3%;
    margin-bottom: 10px;
}

.article {
    width: 60%;
    margin-left: 13%;

}

.article p {
    margin-top: 10%;
    margin-bottom: 5%;
    color: #FFFFFF;
    font-size: 1vw;
    letter-spacing: 0.05em;
    line-height: 170%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article input {
    width: 22%;
    height: 38px;
    background: none;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    font-family: Forum;
    border: 1px solid #FFFFFF;
    font-size: 9px;
    transition: all 0.5s;
}

.article input:hover {
    background: #FFFFFF;
    color: #000000;
    transition: all 0.5s;
    cursor: pointer;
}

.article h3 {
    font-family: Forum;
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    letter-spacing: 0.15em;
    margin-bottom: 0;
}

.containerOfSlider {
    width: 100%;
    height: 6.5vw;
    /* background-color:red; */
    margin-top: 4%;
}

.slider {
    width: 60%;
    height: 100%;
    margin-left: 13%;
    /* background-color:green; */
    display: flex;

}

.slider>div {
    height: 100%;
    width: 21%;
    margin-right: 4%;
}

.slider img {
    height: 100%;
    width: 100%;
}

.arrow {
    height: 38%;
    width: 5%;
    background-size: 100% 100%;
    position: relative;
    bottom: 69%;
    left: 68%;
    background-image: url('/floristry/pictures/Arrow.png');
}

.arrow a,
.arrow a div {
    height: 100%;
    width: 100%;
}

.arrow:hover {
    background-image: url("/floristry/pictures/ArrowHover.png");
}

.morePhoto {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Forum;
    font-size: 11px;
    display: flex;
    width: 95%;
    justify-content: flex-end;
    margin-top: 2%;
}

.morePhoto img {
    width: 2%;
    margin-left: 2%;
}

header {
    width: 100%;
    display: none;
    height: 100vh;
    background-color: #3B181E;
}

nav {
    display: flex;
    justify-content: space-between;
}

.menu {
    height: 550px;
}

.menuLinks a {
    text-decoration: none;
    font-family: Forum;
    font-size: 35px;
    text-align: center;
    letter-spacing: 0.09em;
    color: rgba(255, 255, 255, 0.5);
    transition: color 0.5s;
}

.socialIcons {
    width: 20px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -4%;
    margin-left: 73px;
}

.socialIcons img {
    width: 20px;
}

.menuLinks a:hover {
    color: #FFFFFF;
    transition: color 0.5s;
}

.menuLinks {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.menuLinks p {
    margin-top: 50px;
}


.logo_1 {
    height: 35px;
    margin-left: 80px;
    margin-top: 65px;
}

.logo_1 img {
    height: 35px;
}

.burgerMenuDeckstop {
    margin-top: 60px;
}

.darkwindow {
    background: rgba(35, 34, 39, 0.8);
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 1000;
}

.orderWindow {
    width: 550px;
    height: 341px;
    position: absolute;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: flex;
}

.imgOrder {
    width: 47%;
    height: 100%;
    background-image: url("/floristry/pictures/orderImg.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.articleOrder {
    width: 53%;
    height: 100%;
    background-color: #3B181E;
    /* background-color: green; */
}

.navBar {
    height: 41px;
    /* background-color:red; */
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
}

.navBar img {
    width: 60px;
}

.waitCall {
    margin-top: 50px;
    width: 63%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    letter-spacing: 0.09em;
    line-height: 150%;
    color: #FFFFFF;
    display: none;
}

.containerOfP {
    margin-top: -20px;
    width: 63%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: Forum;
    font-size: 20px;
    letter-spacing: 0.09em;
    line-height: 150%;
    color: #FFFFFF;
}

.orderInput {
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    /* background-color:blue; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderInput input {
    height: 35px;
    background: none;
    border: 1px solid rgba(246, 246, 249, 0.2);
    font-family: Forum;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
    padding-left: 15px;
}

.orderInput input:focus {
    outline: none;
}

.tel {
    margin-top: -10px;
}

.orderInput input:last-of-type {
    border: 1px solid #ffffff;
    background: #ffffff;
    color: black;
    font-size: 11px;
    letter-spacing: 0.1em;
    padding-left: 0;
}

.orderInput input:last-of-type:hover {
    cursor: pointer;
}